body {
  position: relative ; 
  display: flex; 
  justify-content: center; 
  align-items: center;
  height: 100vh;
}
.background::before{ 
  content: ''; 
  position: absolute; 
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-image: url("../images/back_mr.jpg");
  background-size: cover;
  repeat: no repeat; 
  opacity: 0.5;
}
#heading { 
  position: relative ; 
  text-align: center;
}
#formOne {
  position: relative; 
  text-align: center;
  padding-block: 20erm;
}
#submit {
  margin-top: 10px;
}
#output { 
  text-align: center; 
  display: none;
}
